/*--=====================================
CARRITO DE COMPRAS
    ======================================-*/
.cabeceraCarrito{
     height:40px;
     margin-top:-5px ;
}
.cabeceraCarrito h3{
    margin-top:-5px ;
}